h1, h2, h3, h4, h5,h6 {
 margin: 0;
 padding: 0;
 color: $black;
}

h2 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-family: $GalanoGrotesqueSemiBold;
    color: $brand-color;
    margin-bottom: 8px;
}
h3 {
    font-size: 1.1em;
    text-transform: uppercase;
}