// Color palette

$white: 			#ffffff !default;
$black: 			#000000 !default;
$gray-dark:			#242424 !default;
$gray-text:			#3a3a3a !default;

$blue:		    	#167efb !default;

$red:				#ef4b4b !default;

$btn-gray-bg:		#595959 !default;

$nav-gray-color:    #e3e3e3 !default;

$brand-color:       #03a9f4 !default;